
.rain{
    position: absolute;
    top: 0;
    right: 0;
    
    animation: animate 5s linear infinite;
}
.rain::before{
    content: "192.168.1.1";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
}
@keyframes animate
{
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 0;
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(315deg) translateX(-1200px);
        opacity: 0;
    }
    
}

#rain1{
    top: 10;
    right: 321px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 4s;
}
#rain2{
    top: 10;
    right: 213px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 5s;
}
#rain3{
    top: 10;
    right: 267px;
    left: initial;
    animation-delay: 1.7s;
    animation-duration: 0.6s;
}
#rain4{
    top: 10;
    right: 200px;
    left: initial;
    animation-delay: 2.1s;
    animation-duration: 1.2s;
}
#rain5{
    top: 10;
    right: 250px;
    left: initial;
    animation-delay: 3s;
    animation-duration: 1.4s;
}
#rain6{
    top: 10;
    right: 300px;
    left: initial;
    animation-delay: 0.5s;
    animation-duration: 2s;
}
#rain7{
    top: 10;
    right: 350px;
    left: initial;
    animation-delay: 2s;
    animation-duration: 1.5s;
}
#rain8{
    top: 10;
    right: 900px;
    left: initial;
    animation-delay: 2s;
    animation-duration: 3s;
}
#rain9{
    top: 10;
    right: 230px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 1.2s;
}
#rain10{
    top: 10;
    right: 450px;
    left: initial;
    animation-delay: 2s;
    animation-duration: 5s;
}
#rain11{
    top: 10;
    right: 725px;
    left: initial;
    animation-delay: 3s;
    animation-duration: 7s;
}
#rain12{
    top: 10;
    right: 875px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 3s;
}
#rain13{
    top: 10;
    right: 823px;
    left: initial;
    animation-delay: 3s;
    animation-duration: 2s;
}
#rain14{
    top: 10;
    right: 770px;
    left: initial;
    animation-delay: 1.9s;
    animation-duration: 6s;
}
#rain15{
    top: 10;
    right: 730px;
    left: initial;
    animation-delay: 3s;
    animation-duration: 3s;
}
#rain16{
    top: 10;
    right: 700px;
    left: initial;
    animation-delay: 1.5s;
    animation-duration: 5s;
}
#rain17{
    top: 10;
    right: 675px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 3.2s;
}
#rain18{
    top: 10;
    right: 625px;
    left: initial;
    animation-delay: 2.5s;
    animation-duration: 2.5s;
}
#rain19{
    top: 10;
    right: 575px;
    left: initial;
    animation-delay: 3s;
    animation-duration: 4s;
}
#rain20{
    top: 10;
    right: 475px;
    left: initial;
    animation-delay: 2s;
    animation-duration: 6s;
}